<!-- <div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <div fxFlex='20%' fxLayoutAlign="end center">
      Payment Of:
    </div>
    <div>
      {{data.paymentAmount}}
    </div>
  </div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <div fxFlex='20%' fxLayoutAlign="end center">
      To:
    </div>
    <div>
      {{data.payeeName}}
    </div>
  </div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <div fxFlex='20%' fxLayoutAlign="end center">
      From:
    </div>
    <div>
      {{data.accountName}}
    </div>
  </div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <div fxFlex='20%' fxLayoutAlign="end center">
      New Balance:
    </div>
    <div>
      {{data.newBalance}}
    </div>
  </div>
</div> -->
