<div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="user.firstName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="user.lastName">
    </mat-form-field>
  </div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <mat-form-field class="example-full-width">
      <mat-label>Address 1</mat-label>
      <input matInput [(ngModel)]="user.address1">
    </mat-form-field>
  </div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <mat-form-field class="example-full-width">
      <mat-label>Address 2</mat-label>
      <input matInput [(ngModel)]="user.address2">
    </mat-form-field>
  </div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input matInput [(ngModel)]="user.city">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>State</mat-label>
      <input matInput [(ngModel)]="user.state">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Zip Code</mat-label>
      <input matInput [(ngModel)]="user.zipCode">
    </mat-form-field>
  </div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <mat-form-field class="example-full-width">
      <mat-label>Work #</mat-label>
      <input matInput [(ngModel)]="user.workPhone">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Cell #</mat-label>
      <input matInput [(ngModel)]="user.cellPhone">
    </mat-form-field>
  </div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email">
    </mat-form-field>
  </div>
  <div fxLayout='row' fxLayoutGap='20px'>
    <button mat-raised-button matTooltip='Cancel Profile Changes' color="accent">
      Cancel
    </button>
    <button mat-raised-button matTooltip='Save Profile' color="primary">
      Save
    </button>
  </div>
</div>
